# Project specific items
db/
/web/venv
/local

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#IDE
.idea

#Ipython Notebook
.ipynb_checkpoints


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Sphinx documentation
docs/_build/
